{
  "env": {
    "app": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ],
        "stage-0",
        "flow"
      ],
      "plugins": [
        "transform-runtime"
      ]
    },
    "api": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "6"
            }
          }
        ],
        "stage-0",
        "flow"
      ],
      "plugins": [
        [
          "babel-plugin-root-import", [
            {
              "rootPathPrefix": "~",
              "rootPathSuffix": "src/api"
            }
          ]
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "stage-0",
        "flow"
      ],
      "plugins": [
        "dynamic-import-node",
        "transform-runtime"
      ]
    }
  }
}
