{
  "env": {
    "app": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ],
        "stage-0",
        "flow"
      ],
      "plugins": [
        "transform-runtime",
        "transform-vue-jsx",
        [
          "transform-imports", {
            "rxjs/observable": {
              "transform": "rxjs/observable/${member}",
              "preventFullImport": true,
              "skipDefaultConversion": true
            },
            "rxjs/operator": {
              "transform": "rxjs/operator/${member}",
              "preventFullImport": true,
              "skipDefaultConversion": true
            }
          }
        ]
      ]
    },
    "api": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "6"
            }
          }
        ],
        "stage-0",
        "flow"
      ],
      "plugins": [
        [
          "babel-plugin-root-import", [
            {
              "rootPathPrefix": "~",
              "rootPathSuffix": "src/api"
            }
          ]
        ]
      ]
    }
  }
}
