{
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "@vue/eslint-config-prettier",
    "@vue/eslint-config-typescript"
  ],
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/attribute-hyphenation": "off",
    "vue/v-on-event-hyphenation": "off",

    "vue/block-lang": ["error", { "script": { "lang": "ts" } }],
    "vue/block-order": ["error", { "order": ["script[setup]", "template", "style[scoped]"] }],
    "vue/block-tag-newline": [
      "error",
      { "singleline": "always", "multiline": "always", "maxEmptyLines": 1 }
    ],
    "vue/component-api-style": ["error", ["script-setup"]],
    "vue/component-name-in-template-casing": [
      "error",
      "PascalCase",
      { "registeredComponentsOnly": true }
    ],
    "vue/component-options-name-casing": ["error", "PascalCase"],
    "vue/custom-event-name-casing": ["error", "camelCase"],
    "vue/define-emits-declaration": ["error", "type-based"],
    "vue/define-macros-order": [
      "error",
      { "order": ["defineOptions", "defineProps", "defineEmits", "defineSlots"] }
    ],
    "vue/define-props-declaration": ["error", "type-based"],
    "vue/html-button-has-type": ["error", { "button": true, "submit": true, "reset": true }]
  }
}
