{
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "prettier/prettier": true
  }
}
