<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= process.env.APP_NAME %></title>
    <meta name="description" content="<%= process.env.APP_DESCRIPTION %>" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />

    <!-- Load from the subdomain -->
    <link rel="dns-prefetch" href="//www.netlify.com" />

    <!-- Third-party code  -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />

    <!-- Open graph protocol -->
    <meta property="og:title" content="<%= process.env.APP_NAME %>" />
    <meta property="og:description" content="<%= process.env.APP_DESCRIPTION %>" />
    <meta property="og:image" content="/assets/images/icon-256x256.png" />

    <!-- Web app manifest -->
    <link rel="manifest" href="/assets/datas/manifest.json" />

    <!-- Add to homescreen for Android -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="<%= process.env.APP_NAME %>" />
    <link rel="icon" sizes="192x192" href="/assets/images/icon-192x192.png" />

    <!-- Add to homescreen for iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="<%= process.env.APP_NAME %>" />
    <link rel="apple-touch-icon" href="/assets/images/icon-152x152.png" />

    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="/assets/images/icon-144x144.png" />
    <meta name="msapplication-TileColor" content="#2F3BA2" />

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#1E88E5" />
  </head>

  <body>
    <div id="root">
      <style>#root{display:flex;justify-content:center;align-items:center;height:100vh;color:#66c0ff;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,sans-serif;font-size:2.5rem;text-transform:uppercase;text-shadow:2px 2px 10px rgba(0,0,0,.2)}body{background:#006fc9;margin:0;padding:0}@keyframes dots{50%{transform:translateY(-.4rem)}to{transform:translateY(0)}}.d{animation:dots 1.5s ease-out infinite}.d-2{animation-delay:.5s}.d-3{animation-delay:1s}</style>
      Loading<span class="d">.</span><span class="d d-2">.</span><span class="d d-3">.</span>
    </div>

    <noscript>This is your fallback content in case JavaScript fails to load.</noscript>
  </body>
</html>
