@import '_root';
@import '_medias';
@import '_selectors';

[v-cloak] {
  display: none;
}

.shell-container {
  height: calc(100% - 84px);  /* calc(100% - footer) */

  @media (--viewport-mobile) {
    height: calc(100% - 128px);  /* calc(100% - footer) */
  }
}
